@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scanline-fast {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.animate-scanline-fast {
    animation: scanline-fast 0.8s linear infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.animate-blink {
    animation: blink 1s step-end infinite;
}